---
import Layout  from '../layouts/Layout.astro';
import Nav     from '../components/Nav.astro';
import Hero    from '../components/Hero.astro';
import Ticker  from '../components/Ticker.astro';
import About   from '../components/About.astro';
import Music   from '../components/Music.astro';
import Merch   from '../components/Merch.astro';
import Contact from '../components/Contact.astro';
import Footer  from '../components/Footer.astro';
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <Ticker />
    <About />
    <Music />
    <Merch />
    <Contact />
  </main>
  <Footer />
</Layout>
